h1{
    color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.TranslateBtn {
    background-color: #0c6cb5;
    font-size: 15px;
    color: black;
    padding: 5px;
    border: #0c6cb5 solid 2px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
.TranslateBtn:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.InputsDiv {
    margin-top: 25px;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    gap: 15px;
    align-items: baseline;
}
.inputTranslate{
    background-color: #0c6cb5;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: min(90%, 300px);
    row-gap: 5px;
}
.inputTranslate form{
    width: 100%;
}
.InputLingInput{
    width: 100%;
    text-align: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    font-family: cursive;
}
.InputLingInput:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.InputLingInput option{
    font-size: 15px;
    font-family: cursive;
}
.InputLing {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.select span:first-child{
    padding-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.select span:first-child:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.inputTranslate a{
    width: 100%;
    background-color: #043f6d;
    border-radius: 5px;
}
.inputTranslate a textarea{
    height: 40px;
    padding-left: 100px;
    width: 85%;
    background-color: transparent;
    resize: none;
    border: none;
    color: #fff;
    padding: 5px;
}
.inputTranslate a textarea:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.ResetButton{
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: right;
}
.ResetButton button{
    border: none;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 22px;
    cursor: pointer;
    position: relative;
    top: 6px;
    left: -3px;
    
}
.ResetButton button:hover{
    transition: 0.5s;
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 0.5);
}
.CopyButtom{
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: right;
}
.CopyButtom button{
    border: none;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 22px;
    cursor: pointer;
    position: relative;
    top: 6px;
    left: -3px;
}
.CopyButtom button:hover{
    transition: 0.5s;
    transform: rotate(360deg);
    background-color: rgba(255, 255, 255, 0.5);
}
#TranslateLoadOn {
    transition: 1s;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: none;
}
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
/* Alert Error Code */
.ErrorAlert {
    display: none;
    background-color: #e41010;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    right: 0;
    bottom: 15px;
}
.ErrorAlert span{
    background-color: transparent;
    resize: none;
    border: none;
    color: #000;
    width: 100%;
}
#TranslateLoadError{
    display: none;
    animation-name: error;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

@keyframes error {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #e41010;
        color: #000;
    }
    100% {
        background-color: transparent;
    }
    
}
@media (max-width: 700px){
    .InputsDiv{
        flex-direction: column;
        align-items: center;
        
    }
 }
